<div class="row d-flex justify-content-md-around flex-md-row">
  <div class="col-3 d-flex justify-content-center my-3">
    <img src="assets/ImagensStar/img{{type}}%20({{img1}}).{{type}}" alt="Imagem" width="auto" height="300">
  </div>
  <div class="col-3 d-flex justify-content-center my-3">
    <img src="assets/ImagensStar/img{{type}}%20({{img2}}).{{type}}" alt="Imagem" width="auto" height="300">
  </div>
  <div class="col-3 d-flex justify-content-center my-3">
    <img src="assets/ImagensStar/img{{type}}%20({{img3}}).{{type}}" alt="Imagem" width="auto" height="300">
  </div>
</div>
